
@font-face {
    font-family: JETB;
    src: url("../font/JETBRAINSMONO-BOLD.TTF");
}

@font-face {
    font-family: YouYuan;
    src: url("../font/SIMYOU.TTF");
}

@font-face {
    font-family: Ali;
    src: url("../font/AlimamaDongFangDaKai.TTF");
}

@font-face {
    font-family: Sou;
    src: url("../font/SourceHanSansCN-Bold.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: visible;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    line-height: 1.2;
}

:root {
    transition: opacity .5s .2s;
}

.background {
    border-radius: var(--global-border-radius);
    background-color: rgba(0, 0, 0, var(--global-bg-opacity));
    padding: var(--container-bg-padding);
    font-weight: 600;
}

.container {
    position: fixed;
    top: var(--notice-top-space);
    left: var(--notice-left-space);
    transform: translateX(-50%);
    width: var(--notice-width);
    height: var(--notice-height);
}

.noticeContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.itemContainer {
    padding: 4px 4px 4px 4px;
    width: var(--container-width);
    color: white;
    font-size: var(--font-size);
}

.statusLineIndex {
    font-weight: 600;
    display: inline;
    font-family: JETB;
}

.statusLatest {
    color: rgba(0, 255, 10, 1);
}

.statusPinned {
    color: rgba(255, 5, 5, 1);
}

.statusDoing {
    color: rgba(255, 255, 10, 1);
}

.statusUpdated {
    color: rgba(10, 255, 255, 1);
}

.statusFinished {
    color: rgba(192, 192, 192, 1);
}

.statusLineText {
    font-weight: 300;
    display: inline;
    font-family: JETB;
}

.statusLineCountdown {
    font-weight: 600;
    display: inline;
    font-family: JETB;
}

.itemBody {
    width: 100%;
    font-weight: 300;
    font-family: Sou;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow-wrap: anywhere;
}

.itemLine {
    font-weight: 300;
    font-family: Sou;
    overflow-wrap: anywhere;
    color: white;
    font-size: var(--font-size);
}

.summary {
  color: white;
  font-size: var(--font-size);
  font-family: JETB;
}
