.json-editor {
  width: 60%;
}

.tabs {
  width: 100%;
  height: 45px;
  padding: 5px;
  border-bottom: 1px solid #222;
}

.tabs .selected {
  background-color: #222;
  color: #fff;
}

.buttons {
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px;
}

iframe {
  width: 100%;
  height: calc(100% - 45px);
  border: none;
}
